REDMINE_URL_INTERNAL=https://redmine-internal.example.com
REDMINE_URL_EXTERNAL=https://redmine.example.com
REDMINE_API_KEY=replace-with-your-redmine-api-key
APP_MODE=development
DEFAULT_NETWORK=internal
APP_MODE=deploy
DEFAULT_NETWORK=external